<div class="cs_height_120 cs_height_lg_80"></div>

<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.detail as detail; else portfolioNotFound">
    <section class="container">
      <div class="cs_section_heading cs_style_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.05s">
        <div class="cs_section_subtitle">
          <span>{{ detail.short_headline || detail.headline }}</span>
        </div>
        <h1 class="cs_section_title">{{ detail.project_name || detail.headline }}</h1>
        <p class="cs_primary_color">{{ detail.headline }}</p>
      </div>

      <div class="cs_height_20"></div>

      <div class="cs_tag_list" *ngIf="detail.taglines?.length">
        <span
          class="cs_tag cs_radius_5"
          *ngFor="let tagline of detail.taglines; trackBy: trackByIndex"
        >
          {{ tagline }}
        </span>
      </div>

      <div class="cs_height_30"></div>

      <div class="cs_portfolio_info_grid">
        <div *ngIf="detail.project_type" class="cs_portfolio_info_1">
          <p>Project Type</p>
          <h3 class="cs_mb_0">{{ detail.project_type }}</h3>
        </div>
        <div *ngIf="detail.meta?.['last_updated_for_portfolio']" class="cs_portfolio_info_1">
          <p>Last Updated</p>
          <h3 class="cs_mb_0">{{ detail.meta?.['last_updated_for_portfolio'] }}</h3>
        </div>
      </div>
    </section>

    <div class="cs_height_60 cs_height_lg_40"></div>

    <section class="container" *ngIf="detail['cover-image']?.src">
      <div class="cs_radius_10 cs_overflow_hidden cs_mb_40">
        <img
          class="cs_w100"
          [src]="detail['cover-image']?.src"
          [alt]="detail['cover-image']?.alt || detail.project_name"
        />
      </div>
    </section>

    <section class="container" *ngIf="detail.content?.paragraphs?.length || detail.content?.bullets?.length">
      <div class="row">
        <div class="col-lg-8" *ngIf="detail.content?.paragraphs?.length">
          <h3 class="cs_mb_20">Project Overview</h3>
          <p
            class="cs_medium"
            *ngFor="let paragraph of detail.content?.paragraphs; trackBy: trackByIndex"
            style="white-space: pre-line;"
          >
            {{ paragraph }}
          </p>
        </div>
        <div class="col-lg-4" *ngIf="detail.content?.bullets?.length">
          <div class="cs_portfolio_info_1">
            <p class="cs_bold cs_mb_10">Highlights</p>
            <ul class="cs_list cs_mb_0">
              <li *ngFor="let bullet of detail.content?.bullets; trackBy: trackByIndex">{{ bullet }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div
      class="cs_height_60 cs_height_lg_40"
      *ngIf="detail.content?.paragraphs?.length || detail.content?.bullets?.length"
    ></div>

    <section class="container" *ngIf="detail.body_images?.length">
      <h3 class="cs_mb_20">Gallery</h3>
      <div class="row">
        <div class="col-lg-6 cs_mb_25" *ngFor="let image of detail.body_images; trackBy: trackByIndex">
          <div class="cs_radius_10 cs_overflow_hidden cs_shadow_1">
            <img
              class="cs_w100"
              [src]="image.src"
              [alt]="image.alt || detail.project_name"
            />
          </div>
        </div>
      </div>
    </section>

    <div class="cs_height_60 cs_height_lg_40" *ngIf="detail.body_images?.length"></div>

    <section class="container" *ngIf="detail.body_media?.src">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8">
          <div class="cs_mb_10 d-flex align-items-center justify-content-between">
            <h3 class="cs_mb_0">Product Walkthrough</h3>
            <span class="cs_text_muted">Short and focused</span>
          </div>
          <div class="cs_radius_10 cs_overflow_hidden cs_shadow_1 cs_mb_10">
            <video
              class="cs_w100"
              style="display: block; max-height: 460px; object-fit: cover;"
              controls
              [src]="detail.body_media?.src"
            ></video>
          </div>
        </div>
      </div>
    </section>

    <div class="cs_height_60 cs_height_lg_40" *ngIf="detail.body_media?.src"></div>

    <section class="container" *ngIf="detail.tech_stack?.length">
      <h3 class="cs_mb_20">Tech Stack</h3>
      <ul class="cs_list">
        <li *ngFor="let item of detail.tech_stack; trackBy: trackByIndex">{{ item }}</li>
      </ul>
    </section>

    <div class="cs_height_60 cs_height_lg_40" *ngIf="detail.tech_stack?.length"></div>

    <section class="container" *ngIf="detail.links">
      <h3 class="cs_mb_15">Links</h3>
      <div class="cs_tags cs_primary_color">
        <ng-container *ngFor="let link of detail.links | keyvalue">
          <a
            *ngIf="isHttpUrl(link.value)"
            class="ca_tag"
            [href]="link.value"
            target="_blank"
            rel="noopener"
          >
            {{ formatLabel(link.key) }}
          </a>
          <span *ngIf="link.value && !isHttpUrl(link.value)" class="ca_tag" aria-disabled="true">
            {{ formatLabel(link.key) }} - {{ link.value }}
          </span>
        </ng-container>
      </div>
    </section>

    <div class="cs_height_60 cs_height_lg_40"></div>

    <section class="container" *ngIf="state.prev || state.next">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a
          *ngIf="state.prev"
          class="cs_text_btn cs_mb_10"
          [routerLink]="state.prev.link"
        >
          <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
            <path d="M0.469669 5.46967C0.176777 5.76256 0.176777 6.23744 0.469669 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.469669 5.46967ZM26 5.25L1 5.25V6.75L26 6.75V5.25Z" fill="currentColor"/>
          </svg>
          <span>Prev: {{ state.prev.name }}</span>
        </a>

        <a
          *ngIf="state.next"
          class="cs_text_btn cs_mb_10 ms-auto text-end"
          [routerLink]="state.next.link"
        >
          <span>Next: {{ state.next.name }}</span>
          <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="ms-2">
            <path d="M25.5303 6.53033C25.8232 6.23744 25.8232 5.76256 25.5303 5.46967L20.7574 0.696699C20.4645 0.403806 19.9896 0.403806 19.6967 0.696699C19.4038 0.989593 19.4038 1.46447 19.6967 1.75736L23.9393 6L19.6967 10.2426C19.4038 10.5355 19.4038 11.0104 19.6967 11.3033C19.9896 11.5962 20.4645 11.5962 20.7574 11.3033L25.5303 6.53033ZM0 6.75H25V5.25H0V6.75Z" fill="currentColor"/>
          </svg>
        </a>
      </div>
    </section>

    <div class="cs_height_100 cs_height_lg_80"></div>
  </ng-container>
</ng-container>

<ng-template #portfolioNotFound>
  <section class="container text-center">
    <h2 class="cs_mb_15">Project not found</h2>
    <p class="cs_mb_30">The project you are looking for does not exist or is not published yet.</p>
    <a routerLink="/portfolio" class="cs_btn cs_style_1"><span>Back to Portfolio</span></a>
  </section>
  <div class="cs_height_120 cs_height_lg_80"></div>
</ng-template>
