<footer class="cs_footer">
  <div class="container">
    <div class="cs_top_footer">
      <div class="cs_top_footer_left">
        <h2 class="cs_footer_title">Connect with us</h2>
        <div class="cs_footer_contact">
          <p>Email us:</p>
          <h3><a href="mailto:hello&#64;dewco.tech" class="cs_text_btn"><span>hello&#64;dewco.tech</span></a></h3>
        </div>
        <span #footerCalendarButtonTarget aria-live="polite"></span>
      </div>
      <div class="cs_top_footer_right">
        <div class="cs_social_btns cs_primary_color">
          <img src="assets/img/dewco-footer.png" alt="Logo" style="max-height: 180px; padding-bottom: 20px;">
          <p class="cs_social_title">Social follow:</p>
          <ul>
            <li><a href="#" class="wow rubberBand" data-wow-duration="1s" data-wow-delay="0.1s"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#" class="wow rubberBand" data-wow-duration="1s" data-wow-delay="0.15s"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#" class="wow rubberBand" data-wow-duration="1s" data-wow-delay="0.2s"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#" class="wow rubberBand" data-wow-duration="1s" data-wow-delay="0.25s"><i class="fa-brands fa-slack"></i></a></li>
          </ul>
        </div>
        <ul class="cs_footer_menu cs_animo_links cs_primary_color">
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/stories">Stories</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="cs_bottom_footer">
      <div class="cs_copyright">Copyright © 2025 DewCo</div>
      <ul class="cs_copyright_nav">
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <span class="cs_scrollup cs_primary_color">Back to top <span></span></span>
</footer>
