<header class="cs_site_header cs_style1 cs_sticky_header">
  <div class="cs_main_header">
    <div class="container">
      <div class="cs_main_header_in">
        <div class="cs_main_header_left">
          <a class="cs_site_branding" routerLink="/">
            <img src="assets/img/logo_white.svg" alt="Logo">
          </a>
        </div>
        <div class="cs_main_header_right">
          <div class="cs_nav cs_medium">
            <ul class="cs_nav_list cs_animo_links">
              <li><a routerLink="/portfolio" (click)="onNavLinkClick()">Portfolio</a></li>
              <li><a routerLink="/stories" (click)="onNavLinkClick()">Stories</a></li>
              <li><a routerLink="/about" (click)="onNavLinkClick()">About</a></li>
              <li><a routerLink="/contact" (click)="onNavLinkClick()">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="cs_side_header">
  <div class="cs_side_header_shape"></div>
  <button class="cs_close"></button>
  <div class="cs_side_header_overlay"></div>
  <div class="container">
    <div class="cs_side_header_in">
      <div class="row">
        <div class="col-lg-6">
          <div class="cs_nav_2 cs_semibold">
            <ul class="cs_nav_list cs_animo_links">
              <li><a routerLink="/portfolio" (click)="onNavLinkClick()">Portfolio</a></li>
              <li><a routerLink="/stories" (click)="onNavLinkClick()">Stories</a></li>
              <li><a routerLink="/about" (click)="onNavLinkClick()">About</a></li>
              <li><a routerLink="/contact" (click)="onNavLinkClick()">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
